{
  "Entries": [
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": "[]"
    }
  ],
  "Variables": {
    "FACE_ENDPOINT": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/",
    "FACE_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "1453704243"
  }
}
