{
  "Entries": [
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": "[{\u0022id\u0022:\u002243ca5486-f9f5-4a24-92d4-23545c4c70f8\u0022,\u0022createdDateTime\u0022:\u00222023-11-16T13:02:32.504035\u002B00:00\u0022,\u0022authTokenTimeToLiveInSeconds\u0022:600,\u0022deviceCorrelationId\u0022:\u00226e803c99-7a10-416c-8cb3-ef3b924563eb\u0022,\u0022sessionExpired\u0022:true},{\u0022id\u0022:\u002293d86e51-b1f9-4f17-b25f-967803901eeb\u0022,\u0022createdDateTime\u0022:\u00222023-11-16T13:02:33.1568196\u002B00:00\u0022,\u0022authTokenTimeToLiveInSeconds\u0022:600,\u0022deviceCorrelationId\u0022:\u00226eb2023c-3932-4cea-bc6f-cdf90c9cc626\u0022,\u0022sessionExpired\u0022:true},{\u0022id\u0022:\u00229fc2e38a-ebfd-4cc1-b67e-edb32cb2c6b4\u0022,\u0022createdDateTime\u0022:\u00222023-11-16T13:02:33.6327049\u002B00:00\u0022,\u0022authTokenTimeToLiveInSeconds\u0022:600,\u0022deviceCorrelationId\u0022:\u0022de8d30c5-a9d8-4fc8-8634-7ea713030ed1\u0022,\u0022sessionExpired\u0022:true}]"
    },
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/43ca5486-f9f5-4a24-92d4-23545c4c70f8",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/9fc2e38a-ebfd-4cc1-b67e-edb32cb2c6b4",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "FACE_ENDPOINT": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/",
    "FACE_SUBSCRIPTION_KEY": "Sanitized",
    "RandomSeed": "86508259"
  }
}
