{
  "Entries": [
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/461269e4-acff-4e3d-8f24-ffaff65d838c/audit",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveServices.Face.Transaction=1",
        "x-ms-region": "Central US EUAP"
      },
      "ResponseBody": "[{\u0022id\u0022:3,\u0022sessionId\u0022:\u0022461269e4-acff-4e3d-8f24-ffaff65d838c\u0022,\u0022requestId\u0022:\u0022b26c9a7d-1e12-4622-8749-a4d6f19f8327\u0022,\u0022clientRequestId\u0022:\u0022a1574a78-8fd3-4126-8aff-f14b49fed0f0\u0022,\u0022receivedDateTime\u0022:\u00222023-11-16T04:04:27.5970822\u002B00:00\u0022,\u0022request\u0022:{\u0022url\u0022:\u0022/face/v1.1-preview.1/detectliveness/singlemodal\u0022,\u0022method\u0022:\u0022POST\u0022,\u0022contentLength\u0022:156102,\u0022contentT[...]
    {
      "RequestUri": "https://apim-func-test-uscx-s0.cognitiveservices.azure.com/face/v1.1-preview.1/detectLiveness/singleModal/sessions/461269e4-acff-4e3d-8f24-ffaff65d838c/audit?start=3\u0026top=1",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "CSP-Billing-Usage": "CognitiveSer[...]
